
RewriteEngine On

RewriteRule "trang-chu.html" "index.php"
RewriteRule "dang-nhap.html" "dang-nhap.php"
RewriteRule "dang-ky.html" "dang-ky.php"
RewriteRule "gio-hang.html" "gio-hang.php"
RewriteRule "thanh-toan.html" "thanh-toan.php"
RewriteRule "gioi-thieu.html" "blog/Gioi-thieu/Gioi-thieu-29.html"
RewriteRule "lien-he.html" "blog/Lien-he/Lien-he-30.html"
RewriteRule "^san-pham/(.*)(.*)-(.*).html$" "chi-tiet-san-pham.php?type=$1&slug=$2&id=$3"
RewriteRule "^blog/(.*)(.*)-(.*).html$" "chi-tiet-blog.php?type=$1&slug=$2&id=$3"
RewriteRule "^loai-blog/(.*)-(.*)-(.*).html$" "blog.php?type=$1&id=$2&page=$3"
RewriteRule "^loai-san-pham/(.*)-(.*)-(.*).html$" "san-pham.php?type=$1&id=$2&page=$3"

<IfModule mod_deflate.c>

  AddOutputFilterByType DEFLATE text/html

  AddOutputFilterByType DEFLATE text/css

  AddOutputFilterByType DEFLATE text/javascript

  AddOutputFilterByType DEFLATE text/xml

  AddOutputFilterByType DEFLATE text/plain

  AddOutputFilterByType DEFLATE image/x-icon

  AddOutputFilterByType DEFLATE image/svg+xml

  AddOutputFilterByType DEFLATE application/rss+xml

  AddOutputFilterByType DEFLATE application/javascript

  AddOutputFilterByType DEFLATE application/x-javascript

  AddOutputFilterByType DEFLATE application/xml

  AddOutputFilterByType DEFLATE application/xhtml+xml

  AddOutputFilterByType DEFLATE application/x-font 

  AddOutputFilterByType DEFLATE application/x-font-truetype 

  AddOutputFilterByType DEFLATE application/x-font-ttf 

  AddOutputFilterByType DEFLATE application/x-font-otf

  AddOutputFilterByType DEFLATE application/x-font-opentype

  AddOutputFilterByType DEFLATE application/vnd.ms-fontobject

  AddOutputFilterByType DEFLATE font/ttf

  AddOutputFilterByType DEFLATE font/otf

  AddOutputFilterByType DEFLATE font/opentype

# For Older Browsers Which Can't Handle Compression

  BrowserMatch ^Mozilla/4 gzip-only-text/html

  BrowserMatch ^Mozilla/4.0[678] no-gzip

  BrowserMatch bMSIE !no-gzip !gzip-only-text/html

</IfModule>